@font-face {
  font-family: "Hahmlet-Regular";
  font-style: normal;
  font-weight: normal;
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/Hahmlet-Regular.woff2")
    format("woff2");
}

@font-face {
  font-family: "Pretendard-Bold";
  font-style: normal;
  font-weight: 700;
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff")
    format("woff");
}
@font-face {
  font-family: "Pretendard-Black";
  font-style: normal;
  font-weight: 900;
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Black.woff")
    format("woff");
}

@font-face {
  font-family: "Pretendard-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
}
@font-face {
  font-family: "Paperlogy-8ExtraBold";
  font-style: normal;
  font-weight: 300;
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-8ExtraBold.woff2")
    format("woff2");
}
:root {
  --blue-color: #007aff;
  --red-color: #dc0019;
  --navy-color: #0a0541;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: inherit;
  list-style: none;
  text-decoration: none;
}

body,
html {
  width: 100%;
  height: 100vh;
}
.info {
  display: none;
}
/*ㅡㅡㅡㅡㅡ 모달ㅡㅡㅡㅡㅡㅡ*/

.modal {
  position: fixed;
  z-index: 9999;
  top: 20%;
  left: calc(50% - 300px);
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 420px;
  padding: 50px;
  background-color: whitesmoke;
}
.modal p {
  margin-bottom: 20px;

  text-align: center;
  font-family: "Pretendard-Bold";
}
.modal p:first-child {
  font-size: 3em;
}
.modal p:nth-child(2) {
  font-size: 2em;
}
.modal p:nth-of-type(3) {
  margin-top: 20px;
  font-family: "Pretendard-Regular";
  font-size: 1.2em;
}
.modal .btn {
  display: flex;
  justify-content: space-around;
}
.modal button {
  width: 180px;
  height: 60px;
  margin-top: 20px;
  border: none;
  color: white;
  background-color: red;
  cursor: pointer;
  font-family: "Pretendard-Black";
  font-size: 1.3em;
}
/*ㅡㅡㅡㅡㅡ 메인 ㅡㅡㅡㅡㅡㅡ*/
/*header*/
.header {
  width: 100%;
  height: 200px;
  border-bottom: 2px solid #acacac28;
  /* background-color: var(--red-color); */
}

/*header감싸는inner*/
.header .inner {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

/*ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ*/
/*inner-top*/
.header .inner-top-nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 50%;
  padding-top: 20px;
}
/*inner-top-로고*/
.header .inner-top-nav img {
  width: 150px;
  margin-top: 20px;
  margin-left: 20px;
}
/*inner-top search구역*/
.header .inner-top-nav .search {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 250px;
}

/*inner-top search구역 - 로고이미지*/

.header .inner-top-nav .budbeats img {
  position: absolute;
  top: 0;
  right: 70px;
  width: 190px;
  height: 40px;
  border: 2px var(--red-color) solid;
  border-radius: 20px;
}
.header .inner-top-nav .budbeats img:hover {
  animation: rotateOut;
  animation-duration: 0.8s;
}

/*inner-top search구역 - 돋보기*/
.header .inner-top-nav .search .search-box .fa-magnifying-glass {
  position: absolute;
  z-index: 9999;
  top: 40px;
  right: 10px;
  cursor: auto;
}
/*inner-top search구역 - 메뉴버거*/
.header .inner-top-nav .search .search-box .fa-bars {
  position: absolute;
  top: 35px;
  right: 50px;
  display: none;
  cursor: pointer;
}

/*ㅡㅡㅡㅡㅡㅡ/*inner-bottomㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ*/
/*ㅡㅡㅡ드롭메뉴ㅡㅡㅡㅡㅡㅡ*/
.sub-gnb {
  position: absolute;
  z-index: 99999;
  top: 100px;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 30px;
  background-color: white;
}
.sub-gnb .sub-gnb-menu {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}
.sub-gnb .sub-gnb-menu li {
  font-family: "Hahmlet-Regular";
  font-size: 1.3rem;
}

.sub-gnb .sub-gnb-menu li:hover {
  color: red;
}
/*돋보기*/
.fa-magnifying-glass {
  cursor: pointer;
}
/*ㅡㅡㅡ그냥메뉴ㅡㅡㅡㅡㅡㅡ*/
/*inner-bottom*/
.inner-bottom-nav {
  position: relative;
  width: 100%;
  height: 200px;
}
/*inner-bottom display flex*/
.inner-bottom-nav ul {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 100%;
  gap: 50px;
}
/*inner-bottom 상단 가운데 메뉴바 폰트 요소*/
.inner-bottom-nav ul li a {
  color: rgb(0, 0, 85);
  font-family: "Hahmlet-Regular";
  font-size: 1.6rem;
  font-weight: 900;
}
/*inner-bottom 상단 가운데 메뉴바 폰트호버시*/

.inner-bottom-nav ul li a:hover {
  color: var(--red-color);
}
/*ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ*/
/*main inner-project main*/
.inner-project {
  width: 100%;
  /* max-width: 1920px; */
}
/*project 버드와이저의 담대한 시도*/
.title {
  position: relative;
  z-index: 9999;
  top: 0;
  width: 100%;
  height: 400px;
  line-height: 90px;
  padding-top: 150px;
  color: rgb(0, 0, 85);
  background-color: white;
  text-align: center;
}
.title > h2 {
  font-family: "Hahmlet-Regular";
  font-size: 3em;
  font-weight: 900;
}
.title p {
  font-family: "Pretendard-Regular";
  font-size: 2em;
}
/*main bg*/
.inner-project li a {
  position: relative;
  display: block;
  width: 100%;
  height: 585px;
  padding-top: 40px;
  padding-left: 30px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  font-size: 0;
}
/*main bg -  txt박스부분 */
.inner-project li a .txt {
  margin: 30px;
}
/*main bg -  h2 */
.inner-project li a .txt h2 {
  margin-bottom: 20px;
  color: #fff;
  text-shadow: 2px 2px 5px rgb(0, 0, 0, 0.6);
  font-family: "Hahmlet-Regular";
  font-size: 3rem;
  font-weight: 600;
}
/*main bg -  p */
.inner-project li a .txt p {
  color: #fff;
  text-shadow: 2px 2px 5px rgb(0, 0, 0, 0.6);
  font-family: "Pretendard-Bold";
  font-size: 30px;
}
/*ㅡㅡㅡㅡㅡㅡㅡㅡ party 메인 부분 ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ*/
.inner-project {
  width: 100%;
  height: 100%;
  /* border: solid 5px red; */
}
/*전체 article 박스*/
.inner-project article {
  display: flex;
  align-items: first baseline;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  margin: 0 auto;
}
/*각 1개의 div박스*/
.inner-project article div {
  width: 32%;
  margin-right: 10px;
  margin-bottom: 30px;
  /* border: solid 3px var(--blue-color); */
}
.inner-project article img {
  width: 100%;
  height: 100%;
}
.inner-project article div h4 {
  padding: 10px 0 0 10px;
  margin-bottom: 50px;
  color: #0a0541;
  font-size: 1.6rem;
}
/*ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡfooterㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ*/
#footer {
  position: relative;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 100px;
  margin: 0 auto;
  background-color: #0a0541;
}
/*ㅡㅡfooter로고ㅡㅡ*/
#footer .footer-logo {
  width: 17%;
  height: 100%;
}
#footer .footer-logo img {
  width: 100%;
  /* height: 100%; */
}
/*ㅡㅡfooter 가운데 txtㅡㅡ*/
#footer .footer-txt {
  position: relative;
  margin-bottom: 80px;
  color: #fff;
  font-family: "Pretendard-Regular";
}
#footer .footer-txt span {
  margin-right: 50px;
  margin-bottom: 0px;
  font-size: 1.2em;
}
#footer .footer-txt span:first-child {
  color: var(--red-color);
}
#footer .footer-txt span::after {
  position: absolute;
  top: 4px;
  left: 160px;
  display: block;
  width: 1px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.331);
  content: "";
}
#footer .footer-txt div {
  line-height: 25px;
  margin-top: 30px;
  margin-bottom: 30px;
}

/*ㅡㅡfooter 우측 sns아이콘ㅡㅡ*/
#footer .footer-sns {
  height: 100%;
  color: #fff;
  font-family: "Hahmlet-Regular";
  font-size: 30px;
  font-weight: 600;
}
#footer .footer-sns .footer-sns-weiser {
  margin-bottom: 50px;
}
#footer .footer-sns .footer-sns-weiser p,
#footer .footer-sns .footer-sns-beats p {
  margin-bottom: 10px;
}
#footer .footer-sns .icon {
  display: flex;
}
#footer .footer-sns .icon a {
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  margin-top: 10px;
  margin-right: 10px;
  border-radius: 100%;
  color: #fff;
  background: rgba(51, 37, 158, 0.633);
}
/*ㅡㅡfooter MORE버튼ㅡㅡ*/
.more {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
}
.more div {
  width: 170px;
  height: 80px;
  line-height: 80px;
  border: solid 2px var(--navy-color);
  border-radius: 70px;
  text-align: center;
}
.more div p:hover {
  width: 100%;
  height: 100%;
  border-radius: 70px;
  color: white;
  background-color: #0a0541;
}
.more div p {
  width: 100%;
  height: 100%;
  color: var(--navy-color);
  font-family: "Hahmlet-Regular";
  font-size: 1.3em;
  font-weight: 900;
}
/*ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ*/
/*ㅡㅡ 모바일 전용 메뉴바 ㅡㅡ*/
.mobile_menu.on {
  display: block;
}
.mobile_menu {
  position: absolute;
  z-index: 99999;
  top: 90px;
  display: none;
  width: 100%;
  height: 100vh;
  padding: 30px;
  background-color: white;
}
.mobile_menu ul {
  margin-top: 50px;
}
.mobile_menu ul li {
  margin-bottom: 50px;
  color: #0a0541;
  cursor: pointer;
  font-family: "Hahmlet-Regular";
  font-size: 2em;
}
.mobile_menu ul li::after {
  position: relative;
  top: 20px;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #0a0541;
  content: "";
}
/*ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ*/
/*ㅡㅡㅡㅡㅡㅡㅡ about.htmlㅡㅡㅡㅡㅡㅡㅡㅡ*/

.main {
  position: relative;
}
.main_bg {
  position: relative;
  width: 100%;
  height: 1750px;
  padding: 169px 0 0;
  background: url(https://www.budweiser.kr/images/budweiser_bg.jpg) no-repeat
    top center;
}
.main_bg img {
  width: 100%;
  height: 100%;
}
.main_bg .main_txt {
  padding: 240px 0 140px;
  text-align: center;
}
.main_txt_inner {
  width: 94%;
  max-width: 1780px;
  margin: 0 auto;
}
.main_txt_inner h4 {
  margin-bottom: 45px;
  color: #fff;
  font-family: "Hahmlet-Regular";

  font-size: 80px;
  font-weight: 600;
}
.main_txt_inner p {
  line-height: 1.35;
  color: #fff;
  font-family: "Pretendard-Regular";
  font-size: 32px;
}
.main_btns {
  position: relative;
  top: 320px;
  display: flex;
  justify-content: center;
}
.main_btn {
  position: absolute;
  bottom: 0;
}

.main_btn button {
  width: 600px;
  height: 80px;
  border: none;
  border-radius: 70px;
  color: #0a0541;
  cursor: auto;
  font-family: "Pretendard-Bold";
  font-size: 1.4em;
}
.rollung_wrap {
  position: relative;
  margin-top: 150px;
}
.marquee_right {
  position: absolute;
  bottom: 10%;
  overflow: hidden;
  width: 100%; /* the plugin works for responsive layouts so width is not necessary */
  color: red;
  font-family: "Hahmlet-Regular";
  font-size: 105px;
}
.marquee_left {
  position: absolute;
  overflow: hidden;
  width: 100%; /* the plugin works for responsive layouts so width is not necessary */
  color: red;
  font-family: "Hahmlet-Regular";
  font-size: 105px;
}
/*ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ*/
/*ㅡㅡㅡㅡㅡㅡㅡㅡ main_ red ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ*/

.main_red {
  padding-bottom: 160px;
  background-color: #170714;
}
.main_red_img {
  position: relative;
  width: 94%;
  max-width: 1780px;
  height: 570px;
  margin: 0 auto;
  background: url(https://www.budweiser.kr/images/bud_banner.jpg);
}
.main_red_img img:first-child {
  position: absolute;
  top: 20%;
  left: 5%;
}
.main_red_img p {
  position: absolute;
  top: 30%;
  left: 5%;
  line-height: 50px;
  margin-top: 80px;
  color: white;
  font-family: "Pretendard-Regular";

  font-size: 2em;
}

/*ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ*/
/*ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ*/
/*ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ*/
/*ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ 미디어 쿼리 ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ*/
/*768px이하일때, 바꾸고 싶은 내용 */
@media screen and (max-width: 968px) {
  .main_bg {
    padding: 0;
  }

  .main_txt_inner p {
    font-size: 18px;
  }
  .marquee_right {
    font-size: 80px;
  }
  .marquee_left {
    font-size: 80px;
  }
  .main_txt_inner h4 {
    font-size: 32px;
  }
  .main_btn button {
    width: 350px;
    height: 60px;
    transition: all 1s;
    font-size: 1.1em;
  }
  /*.main red*/
  .main_red_img p {
    line-height: 30px;
    font-size: 1.2em;
  }
  .main_red_img {
    height: 370px;
    padding: 40px;
    padding-bottom: 30px;
    margin-bottom: 60px;
    background-position: center bottom;
  }
  /*inner-top*/
  .header {
    width: 100%;
    height: 90px;
    border-bottom: 2px solid #acacac28;
  }
  /*inner-top 좌측 로고 메인*/
  .header .inner-top-nav img {
    width: 90px;
  }
  /*inner-top 우측상단 로고 애니메이션*/
  .header .inner-top-nav .budbeats img {
    position: absolute;
    right: 90px;
    width: 100px;
  }
  /*inner-top search구역 - 메뉴버거*/
  .header .inner-top-nav .search .search-box .fa-bars {
    display: block;
  }
  /*메인 배경 프로젝트*/
  .inner-project {
    width: 100%;
    max-width: 1920px;
  }
  .inner-project li a {
    height: 46vw;
    padding-top: 10px;
    padding-left: 10px;
    background-size: 120% 100%;
  }

  /*main bg -  h2 */
  .inner-project li a .txt h2 {
    font-size: 30px;
  }
  /*main bg -  p */
  .inner-project li a .txt p {
    font-size: 18px;
  }
  .more div {
    width: 120px;
    height: 50px;
    line-height: 40px;
  }
  .more div p {
    font-size: 1.1em;
  }
  /*-------footer-------*/

  #footer {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  /*ㅡㅡfooter로고ㅡㅡ*/
  #footer .footer-logo {
    width: 20%;
    height: 100%;
    margin-bottom: 30px;
  }
  #footer .footer-txt {
    text-align: center;
    font-size: 14px;
  }
  #footer .footer-txt span::after {
    top: 4px;
    left: calc(50% - 50px);
  }
  #footer .footer-sns {
    text-align: center;
    font-size: 20px;
  }
  #footer .footer-sns .icon {
    align-content: center;
    justify-content: center;
  } /*ㅡㅡfooter 우측 sns아이콘ㅡㅡ*/

  /*project 버드와이저의 담대한 시도*/
  .title {
    width: 100%;
    height: 150px;
    line-height: 40px;
    padding-top: 50px;
  }
  .title > h2 {
    font-size: 1.7rem;
    font-weight: 900;
  }
  .title p {
    font-size: 1.1rem;
  }
  .inner-bottom-nav {
    display: none;
  }
}
@media screen and (max-width: 1440px) {
  .swiper {
    height: 500px;
  }
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
  }
}
/*ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ 미디어 쿼리 ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ*/
/*ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ*/
/*ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ*/
/*ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ*/
/*ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ*/
