#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  border: none;
  background-color: #8000ff;
  color: white;
  padding: 6px 15px;
  font-size: 16px;
  border-radius: 3px;
  cursor: pointer;
}

input {
  width: 180px;
  height: 25px;
  margin-right: 5px;
  padding: 0 7px;
  font-size: 15px;
  outline: none;
}

.search-input {
  margin-bottom: 10px;
}
