.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: white;
  width: 800px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 15px;
}

.container h3 {
  margin-bottom: 0px;
}

.movie_list {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 한 줄에 5개씩 배치 */
  gap: 20px; /* 간격 조정 */
}
